<a href="https://colab.research.google.com/github/Rogerio-mack/Inteligencia_Artificial/blob/main/IA_Pandas_II_Exerc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

---

# Exercícios

## Exercício: **CASE Tips** 

Acesse a base de dados http://meusite.mackenzie.br/rogerio/data_load/tips.csv para as questões a seguir.

In [3]:
import pandas as pd
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/tips.csv')

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Q0. Considere nossa base exemplo Tips. Considerando somente os finais de semana, quem tem média de participantes na mesa maior, fumantes ou não fumantes?

## Exercício: **CASE Insurance** 

Acesse a base de dados http://meusite.mackenzie.br/rogerio/data_load/insurance.csv para as questões a seguir.

In [ ]:
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Q1. Qual percentual de homens e mulheres assegurados na base?

## Q2. Qual o total dos valor de seguros pago por homens e mulheres segurados na base?

## Q3. Qual o precentual de valor de seguros pagos por homens e mulheres segurados na base?

## Q4. Não fumantes apresentam em média mais filhos?

## Q5. Qual a média e maior de idade dentre os segurados homem, das regiões northwest ou northeast?



## Exercício: **CASE:** **European Energy:** 

Qual o tipo de Energia mais produzido na Europa? O uso de fontes renováveis já é significativo? 

[European Energy link](https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-08-04/readme.md)

Explore aqui como é a produção de Energia na Europa empregando a base de dados abaixo. Você pode achar útil fazer uma exploração inicial dos dados antes de começar.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-08-04/energy_types.csv') 

df.head()

  country country_name                  type  ...     2016     2017       2018
0      BE      Belgium  Conventional thermal  ...  30728.0  31316.0  30092.635
1      BE      Belgium               Nuclear  ...  41430.0  40128.5  26995.628
2      BE      Belgium                 Hydro  ...   1476.0   1360.9   1239.248
3      BE      Belgium    Pumped hydro power  ...   1110.0   1093.2    983.190
4      BE      Belgium                  Wind  ...   5340.0   6387.9   7177.346

[5 rows x 7 columns]

## Q6. Quantos tipos de energia e países diferentes há na base?

## Q7. Qual o percentual de energia nuclear produzido na Europa no ano de 2018?

## Q8. Qual o percentual de energia nuclear produzido na França no ano de 2018?

## Q9. Qual o percentual de energias limpas produzida na Europa no ano de 2018?

*Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.*

## Q10. Considerando os anos de 2016, 2017 e 2018, a produção de energias limpas tem aumentado na Europa? Verifique em termos absolutos e percentuais.

*Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.*